{% load staticfiles %}

<div class=" container sonk-container">
    <div class="row">
        <div class="col-2 text-center">
            <img class="sonk-img" src="{% static 'mainapp/images/cookie_2.jpg' %}">
            <p>
                <a href="/like/{{ question.id }}/"><i class="icon-thumbs-up"></i></a>
                {{ question.likes }}
                <a href="/dislike/{{ question.id }}/"><i class="icon-thumbs-down"></i></a>
            </p>
        </div>
        <div class="col-10">
            <h3><a href="">{{ question.title }}</a></h3>
            <p>{{ question.text }}</p>
            <p>
                <strong>{{ question.date }}</strong>
                &nbsp &nbsp
                <strong>Tags:
                    {% for tag in question.tags.all %}
                        <a href="/tag/{{tag.id}}"> {{ tag.text }} </a>
                        &nbsp
                    {% endfor %}
                </strong>

            </p>
        </div>
    </div>
</div>
<hr>