{% extends "mainapp/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="sonk-block-caption">
        <h2>Registration</h2>
    </div>
    <form class="sonk-form" method="post">
        {% csrf_token %}
        {{ signup_form.as_p }}

{#        <div class="form-group row">#}
{#            <label for="useravatar" class="col-3">Upload avatar</label>#}
{#            <div class="col-9">#}
{#                <input type="file" class="form-control-file" id="useravatar">#}
{#            </div>#}
{#        </div>#}

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>

{% endblock %}